<ul>
  <li><%= link_to t('.participants'), participants_path %></li>
</ul>

<table>
  <thead>
    <th><%= t('activerecord.attributes.room.name') %></th>
    <th><%= t('activerecord.attributes.room.last_arrived_at') %></th>
    <th><%= t('activerecord.attributes.room.last_left_at') %></th>
    <th><%= t('activerecord.attributes.room.member') %></th>
  </thead>
  <tbody>
    <% @rooms.each do|room| %>
      <tr>
        <td><%= link_to room.name, room_path(room) %></td>
        <td>
          <% if room.last_arrived_at %>
            <%= room.last_arrived_at.strftime(t('date.long')) %>
          <% else %>
            <%= t('.no_last_arrived_at') %>
          <% end %>
        </td>
        <td>
          <% if room.last_left_at %>
            <%= room.last_left_at.strftime(t('date.long')) %>
          <% else %>
            <%= t('.no_last_left_at') %>
          <% end %>
        </td>
        <td><%= room.members_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
