<% content_for :body_class, 'chats ' %>
<% content_for :body_data_room_id, @room.id.to_s %>
<h1><%= @room.name %></h1>

<%= form_tag room_participants_path(@room) do |form| %>
  <div>
    <%= text_field_tag :user_name, current_user.try(:name), placeholder: t('.content_placeholder') %>
  </div>
  <div>
    <% @colors.each do|color| %>
      <label>
        <%= radio_button_tag :color, color, user_signed_in? ? current_user.color == color : @colors[-1] == color %>
        <span style="color: <%= color %>;">★</span>
      </label>
    <% end %>
  </div>
  <%= submit_tag t('.arrive') %>
<% end %>

<%= render 'chats/status' %>
<%= render 'chats/chats', chats: @chats, linked_room_name: false %>
